{% extends 'baseFront.html.twig' %}

{% block body %}
    <h1></h1>
    {{ form_start(form, {'action': path('app_reclamation_front')}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">ajouter</button>
    {{ form_end(form) }}
{% endblock %}
